{% extends "layout.html" %}

{% if product.image_path is null %}
	{%
		set image_path = "img/product3.jpg"
	%}
{% else %}
	{% set image_path = product.image_path %}
{% endif %}

{% block title %}
	Producto {{ product.title|default("desconocido") }} {{ product.id }}
{% endblock %}

{% block content %}
   <!-- Page Title -->
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Detalles del producto</h1>
				</div>
			</div>
		</div>
	</div>
    
    <div class="section">
    	<div class="container">
    		<div class="row">
    			<!-- Product Image & Available Colors -->
    			<div class="col-sm-6">
    				<div class="product-image-large">

    					<img src="{{ asset(product.image_path) }}" alt="Item Name">
    				</div>
    				<div class="colors">
						<span class="color-white"></span>
						<span class="color-black"></span>
						<span class="color-blue"></span>
						<span class="color-orange"></span>
						<span class="color-green"></span>
					</div>
    			</div>
    			<!-- End Product Image & Available Colors -->
    			<!-- Product Summary & Options -->
    			<div class="col-sm-6 product-details">
    				<h4>{{ product.title }}</h4>
    				<div class="price">
						<span class="price-was">$959.99</span> $999.99
					</div>

					<h5>Estado</h5>
						{{product.status}}
					</h5>

					<h5>Quick Overview</h5>
    				<p>
    					{{ product.description }}
    				</p>
					<table class="shop-item-selections">
						<!-- Color Selector -->
						<tr>
							<td><b>Color:</b></td>
							<td>
								<div class="dropdown choose-item-color">
									<a class="btn btn-sm btn-grey" data-toggle="dropdown" href="#"><span class="color-orange"></span> Orange <b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu">
										<li role="menuitem"><a href="#"><span class="color-white"></span> White</a></li>
										<li role="menuitem"><a href="#"><span class="color-black"></span> Black</a></li>
										<li role="menuitem"><a href="#"><span class="color-blue"></span> Blue</a></li>
										<li role="menuitem"><a href="#"><span class="color-orange"></span> Orange</a></li>
										<li role="menuitem"><a href="#"><span class="color-green"></span> Green</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<!-- Size Selector -->
						<tr>
							<td><b>Size:</b></td>
							<td>
								<div class="dropdown">
									<a class="btn btn-sm btn-grey" data-toggle="dropdown" href="#">XXL <b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu">
										<li role="menuitem"><a href="#">XS</a></li>
										<li role="menuitem"><a href="#">S</a></li>
										<li role="menuitem"><a href="#">M</a></li>
										<li role="menuitem"><a href="#">L</a></li>
										<li role="menuitem"><a href="#">XXL</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<!-- Quantity -->
						<tr>
							<td><b>Quantity:</b></td>
							<td>
								<input type="text" class="form-control input-sm input-micro" value="1">
							</td>
						</tr>
						<!-- Add to Cart Button -->
						<tr>
							<td>&nbsp;</td>
							<td>
								<a href="#" class="btn btn"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
							</td>
						</tr>
					</table>
    			</div>
    			<!-- End Product Summary & Options -->
    			
    			{% include "products/product-details.html" %}
    		</div>
		</div>
	</div>	
{% endblock %}