{% extends "layout.html" %}

{% block content %}
<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Error en el servidor...</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="error-page-wrapper">
					<p>¡Ops! Parece que hemos tenido algún tipo de problema</p>
					<p>¿Por qué no pruebas a recargar esta página?</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
