{% extends "layout.html" %}

{% block content %}
<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Ha ocurrido algún tipo de error...</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="error-page-wrapper">
					<p>No sabemos muy bien que ha pasado, no te preocupes.</p>
					<p>¿Por qué no pruebas a recargar esta página?</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
