<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Contacta</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
    	<div class="row">
    		<div class="col-sm-7">
    			<!-- Map -->
    			<div id="contact-us-map">

    			</div>
    			<!-- End Map -->
    			<!-- Contact Info -->
    			<p class="contact-us-details">
    				<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
    				<b>Phone:</b> +44 123 654321<br/>
    				<b>Fax:</b> +44 123 654321<br/>
    				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
    			</p>
    			<!-- End Contact Info -->
    		</div>
    		<div class="col-sm-5">
    			<!-- Contact Form -->
    			<h3>Envíanos un mensaje</h3>
    			<div class="contact-form-wrapper">

    				{% if not status is null %}
    					{% if status == "success" %}
    						<div class="alert alert-success">
    							Su mensaje se ha enviado. Le responderemos cuanto antes.
    						</div>
    					{% elseif not errors is null %}
    						<div class="alert alert-danger">
    							Revise los campos
    						</div>
    					{% endif %}
    				{% endif %}

        			<form class="form-horizontal" role="form" method="POST" action="{{ path('contact-send-message') }}">
        				 <div class="form-group">
        				 	<label for="Name" class="col-sm-3 control-label"><b>Tu nombre</b></label>
        				 	<div class="col-sm-9">
								<input class="form-control" name="name" id="Name" type="text" placeholder="" value="{{data_form.name|default("") }}" />

        				 		{% if errors["[name]"] is defined %}
        				 			<div class="bg bg-danger">{{ errors["[name]"] }}</div>
        				 		{% endif %}
							</div>
						</div>
						<div class="form-group">
							<label for="contact-email" class="col-sm-3 control-label"><b>Tu E-Mail</b></label>
							<div class="col-sm-9">
								<input class="form-control" name="email" id="contact-email" type="text" placeholder="" value="{{ data_form.email|default("") }}" />

        				 		{% if errors["[email]"] is defined %}
        				 			<div class="bg bg-danger">{{ errors["[email]"] }}</div>
        				 		{% endif %}
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-3 control-label"><b>Asunto</b></label>
							<div class="col-sm-9">
								<select class="form-control" name="topic" id="prependedInput">
									<option>Please select topic...</option>
									<option>General</option>
									<option>Services</option>
									<option>Orders</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-3 control-label"><b>Mensaje</b></label>
							<div class="col-sm-9">
								<textarea class="form-control" name="message" rows="5" id="contact-message">{{ data_form.message|default("") }}</textarea>

        				 		{% if errors["[message]"] is defined %}
        				 			<div class="bg bg-danger">{{ errors["[message]"] }}</div>
        				 		{% endif %}
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn pull-right">Enviar</button>
							</div>
						</div>
        			</form>
        		</div>
        		<!-- End Contact Info -->
    		</div>
    	</div>
	</div>
</div>